# PYTHON INTRODUCTION

In [1]:
print("HELLO WORLD")

HELLO WORLD

In [2]:
a=10;
b=5;

print(a+b);

15

COMMENTS : 
1. WE CAN ALSO USE IPYTHON INSTEAD OF IPYTHON NOTEBOOK. BUT ALWAYS USE IPYTHON NOTEBOOK AS IT IS A MUCH ADVANCED VERSION.
2. WE CAN START IPYTHON BY OPENING ANACONDA AND TYPING ipython.

VARIABLES

In [1]:
a=2;
b=10;
f=3.14;

print(a);

a=5;
print(a);

2
5

In [2]:
print(a)

5

In [3]:
s="HELLO";
s1="WORLD";

print(s+s1);

HELLOWORLD

In [4]:
print(s+" "+s1);

HELLO WORLD

In [5]:
del(a);
print(a);

NameError: name 'a' is not defined

del keyword deletes that variable from memory and we cant access it again

In [6]:
a=5;
print(type(a));

<class 'int'>

In [7]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
b          int      10
f          float    3.14
s          str      HELLO
s1         str      WORLD

%whos prints a table with list of all integers, their values and types. (Dont use ; after %whos)

In [9]:
del(a);

NameError: name 'a' is not defined

In [10]:
%whos;

UsageError: Line magic function `%whos;` not found.

In [13]:
a=5;
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
b          int      10
f          float    3.14
s          str      HELLO
s1         str      WORLD

OPERATORS

In [14]:
a=10;
b=5;

print(a+b);
print(a-b);
print(a*b);
print(a/b);
print(b/a);
print(b//a);
print(a**b);

15
5
50
2.0
0.5
0
100000

// : floor division <br>
** : exponent
<br>
Use br to add new line in markdown.
To give heading in markdown use # ... (in new line)

In [16]:
f1= True;
f2= False;

print(f1==f2);
print(f1!=f2);

False
True

In [18]:
print(type(f1));

<class 'bool'>

Make sure while defining bool values, first letter CAPITAL.

NOTE :  
To execute a code press shift + enter <br>
To change from code to markdown, unselect the cell first (press esc) then press m.
To change from markdown to code, unselect cell, then press y.

SOME FUNCTIONS

In [19]:
print(round(4.5454545));
print(round(4.1));

5
4

In [20]:
print(round(3.14434234234,3));

3.144

In [21]:
print(divmod(10,5));

(2, 0)

Function returns quotient and remainder in an ordered tuple.

In [22]:
g=divmod(10,5);
print(g);

print(g[0]);
print(g[1]);

(2, 0)
2
0

In [23]:
print(pow(2,4));

16

In [24]:
print(pow(2,4,2));

0

means, 2 to the power of 4 then mod by 2

In [25]:
x=input("Enter anything");

Enter anything123

Default type of variable taken from input will always be x.

In [26]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      10
b          int      5
f          float    3.14
f1         bool     True
f2         bool     False
g          tuple    n=2
s          str      HELLO
s1         str      WORLD
x          str      123

In [27]:
type(x)

str

In [28]:
x=(int)x;
type(x);

SyntaxError: invalid syntax (<ipython-input-28-6739b8d95302>, line 1)

In [30]:
x=int(x)

In [32]:
type(x)

int

Dont enter ; after type(x)

To get info about a function do as, pow? or help(pow)

In [33]:
pow?

In [34]:
help(pow);

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

CONTROL STATEMENTS

In [36]:
a=20;
b=30;

if a>b:
    print(a);
    print('STILL IF BLOCK');
    
else:    
    print(b);
    print("ELSE BLOCK");

30
ELSE BLOCK

In [39]:
c=25;

if a>b:
    print(str(a)+" IF BLOCK")

elif b>a: 
    print(str(b)+" ELIF BLOCK");
    
else:
    print("ELSE BLOCK");
    

print("OUTSIDE OF ALL CONTROL BLOCKS")

30 ELIF BLOCK
OUTSIDE OF ALL CONTROL BLOCKS

In [41]:
#comment

LOOPS

In [2]:
n=10;
i=0;

while i<n:
    print(i);
    i=i+1;
    
print("DONE");

0
1
2
3
4
5
6
7
8
9
DONE

In [3]:
#continue and break also available, use accordingly.

In [4]:
for i in range(10):
    print(i);

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range(0,10,2):
    print(i);

0
2
4
6
8

In [8]:
a=[1,2,3];
for i in a:
    print(i);

1
2
3

In [9]:
a=[1,2,3];
a.append(4);

for i in a:
    print(i);

1
2
3
4

In [11]:
d={"a":5,"b":10};
for i in d:
    print(i,d[i]);

a 5
b 10

In [12]:
#above is an example of dictionay data structure, key and value pairs array

FUNCTIONS

In [13]:
def fun1():
    print("THIS IS FUN1");
    
fun1();

THIS IS FUN1

In [14]:
def fun2(a):
    print(a);
    
fun2(5);

5

In [15]:
def count(n):
    
    if n==0:
        return;
    
    print(n);
    count(n-1);
    
count(5);

5
4
3
2
1

In [17]:
#if we want to take send multiple different values to a function

def fun1(*args):
    for i in range(len(args)):
        print(args[i]);
        
    print(len(args));
        

        
fun1(2,4,5,6,"smdfdsf",6.7);

2
4
5
6
smdfdsf
6.7
6

In [18]:
def fun1(sum=0):
    print(sum);
    
fun1(2);
fun1();

2
0

In [19]:
#default values

MODULES

Module is a python file which contain a list of fucntions. We import modules, so as to use those functions in our current project or work.

In [23]:
import sys
sys.path.append('C:/Users/Tushar/Desktop/PYTHON')

import Modules as m;
m.fun1();

HELLO WORLD

Like all the other modules, the sys module has to be imported with the import statement, i.e. The sys module provides information about constants, functions and methods of the Python interpreter.

In [26]:
m.fun1();

HELLO WORLD

STRINGS

" " and ' ' are same in python

In [1]:
print("fsdfdsf","sdfsdf");

fsdfdsf sdfsdf

In [4]:
s1="""fnsdknfsd
fsdkfsdnfkd
sdkfsnds"""

print(s1);

fnsdknfsd
fsdkfsdnfkd
sdkfsnds

In [5]:
s="HELLO WORLD";

print(s[0]);

H

In [7]:
print(s[3:8]);

LO WO

In [8]:
print(s[-1]);

D

negative index starts from end of the original string

Slicing in Python is a feature that enables accessing parts of sequences like strings, tuples, and lists. You can also use them to modify or delete the items of mutable sequences such as lists.

Lists are immutable in python, so cant modify strings.

“Indexing” means referring to an element of an iterable by its position within the iterable.

In [9]:
s1="        sdmkfsn       ";
print(s1.strip());

sdmkfsn

In [10]:
s1="dmsdasaa";
print(s1.lower());

dmsdasaa

In [11]:
print(s1.upper());

DMSDASAA

In [17]:
s2=s1.replace('d','D');
print(s1);
print(s2);

dmsdasaa
DmsDasaa

In [18]:
s1="abc;def;ifj;"
a=s1.split(';');

print(a);

['abc', 'def', 'ifj', '']